{% extends "base.html" %} {% block content %}
<div class="col-sm-6 col-md-offset-3">
    <h1>{{ title }}</h1> 
    <form action="" method="GET">
        <input type="text" name="q" placeholder="Search Post" value="{{ request.GET.q }}" />
        <input type="submit" value="Search">
    </form>
    {% for obj in queryset %}
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                {% if obj.image %}
                <img src="{{ obj.image.url }}" class="img-responsive"> {% endif %}
                <div class="caption">
                    <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small> {% if obj.draft %} <span style='color:red;'>Draft</span> {{ obj.publish }} {% else %} {{ obj.timestamp|timesince }} {% endif %} ago</small></h3> 
                    {% if obj.user.get_full_name %}
                        <p>Author: {{obj.user.get_full_name }}</p>
                    {% endif %}
                    <p>{{obj.content|linebreaks|truncatechars:120}}</p>
                    <p><a href='{{ obj.get_absolute_url }}' class="btn btn-primary" role="button">View</a></p>
                </div>
            </div>
        </div>
        <hr/>
    </div>
    <!-- {% cycle "" "<div class='col-sm-12'></div> <div class='row'></div>" %}  -->
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
        {% if queryset.has_previous %}
            <a href="?{{ page_request_var }}={{ queryset.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
        </span> {% if queryset.has_next %}
        <a href="?{{ page_request_var }}={{ queryset.next_page_number }}">next</a> {% endif %}
        </span>
    </div>
</div>
{% endblock content %}
